# Ignore the entire dataset folder
data/raw/

# Ignore specific large files
*.csv
*.xlsx
*.parquet
*.zip
*.pkl 

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
